<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.huahuacaocao.flowercare" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.huahuacaocao.flowercare.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.huahuacaocao.flowercare.permission.MIPUSH_RECEIVE"/>
    <queries>
        <package android:name="com.tencent.mm"/>
    </queries>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:allowBackup="true" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:largeHeap="true" android:name="com.huahuacaocao.flowercare.application.MyApplication" android:networkSecurityConfig="@xml/network_security_config" android:resizeableActivity="true" android:roundIcon="@mipmap/app_icon_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.MainlandMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.activitys.login.MainlandLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.login.LoginBindMiActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTop" android:name="com.huahuacaocao.flowercare.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.AdminNotificationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.ChatMessageActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.CommentComplainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.CommTranCommentActivity" android:theme="@style/Theme.AppTranslucent.NoActionBar"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.CommunityNoticeActivitiy" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.activitys.community.CommunityNotificationActivity2" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.CommunitySearchActivity" android:theme="@style/Theme.AppTranslucent.AppNoActionBar"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.CommunitySearchResultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.MyCommentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.MyLikePostsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.MyPostActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.PostDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.MyCommunityActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.AboutActivityMainland" android:screenOrientation="portrait"/>
        <activity android:label="社区发帖" android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.activitys.community.SendPostActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.TopicDetailsActivity2" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.community.UserPageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.huahuacaocao.flowercare.WBShareActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.umeng.qq.tencent.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1105162615"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.umeng.qq.tencent.AssistActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:name="com.umeng.socialize.editorpage.ShareActivity" android:theme="@style/Theme.UMDefault"/>
        <meta-data android:name="UMENG_APPKEY" android:value="565e761967e58e3c31000998"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="@string/app_name" android:name="com.huahuacaocao.flowercare.activitys.login.WelcomeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="welcome" android:scheme="flowercare"/>
            </intent-filter>
        </activity>
        <activity android:name="com.huahuacaocao.flowercare.activitys.AAAActivity"/>
        <activity android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.activitys.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.login.email.EmailRegActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.login.email.EmailResetPwdActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.error.ServerErrorActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.huahuacaocao.flowercare.activitys.home.FlowerCareNewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.home.FlowerMenuActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.home.EditPlantInfoNewActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.huahuacaocao.flowercare.activitys.home.FlowerPotNewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.FinishAddFlowerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.FlowerCareSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.FlowerPotBleSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.FlowerPotDisturbActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.DeviceParamsSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.SearchPlantActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.SelectPlantTypeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.AddDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.SwitchPlantActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.CheckUpdateActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.common.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.AdvancedSearchPlantActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.AdvancedSearchPlantResultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.AdvancedSearchPlantResultDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.PlantDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.GrowthRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.GrowthDairyPostActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.device.GrowthDiaryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.common.PhotoPagerActivity" android:theme="@style/Theme.AppTranslucent.NoActionBar"/>
        <activity android:name="com.huahuacaocao.flowercare.view.photopicker.PhotoPickerActivity"/>
        <activity android:name="com.huahuacaocao.flowercare.view.photopicker.PhotoPreviewActivity"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.EditUserInfoActivitiy" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.setting.SwitchLanguageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.webview.WebActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.SelectAreaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.DeleteOrDownloadDataActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.huahuacaocao.flowercare.activitys.login.AccountBindActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.UserSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.PlantFilterSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.user.ManageGroupActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.AddOrEditGroupActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.flowercare.activitys.devicesetting.GroupDetailActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="com.huahuacaocao.flowercare.fileProvider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity"/>
        <provider android:authorities="@string/facebook_app_authorities" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="com.xiaomi.push.service.XMJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":pushservice"/>
        <service android:enabled="true" android:name="com.xiaomi.push.service.XMPushService" android:process=":pushservice"/>
        <service android:enabled="true" android:exported="true" android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:process=":miot"/>
        <service android:enabled="true" android:name="com.xiaomi.mipush.sdk.MessageHandleService" android:process=":miot"/>
        <receiver android:exported="true" android:name="com.huahuacaocao.flowercare.receivers.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" android:process=":miot">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.xiaomi.push.service.receivers.PingReceiver" android:process=":miot">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.huahuacaocao.hhcc_common.base.activitys.SelectImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.huahuacaocao.hhcc_common.base.activitys.CropImageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:launchMode="singleTask" android:name="com.miot.service.connection.wifi.SmartConfigMainActivity" android:process=":miot" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <service android:enabled="true" android:exported="true" android:label="MiotService" android:name="com.miot.service.MiotService" android:process=":miot">
            <intent-filter>
                <action android:name="com.miot.service.action.BIND_SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.miot.service.common.mipush.MiotpnReceiver" android:process=":miot">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <service android:name="com.inuker.bluetooth.library.BluetoothService"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <provider android:authorities="com.huahuacaocao.flowercare.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <service android:enabled="true" android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.twitter.sdk.android.core.identity.OAuthActivity"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>